@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

/* todo; This is header section styling rules */
.header-text {
  background: url("./images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 18rem 12rem 15rem 60rem;
}

.header-title {
  color: #151414;
  font-size: 5.5rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 2rem;
}
.header-description {
  color: #444343;
  text-align: right;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 3.2rem;
}

.header-btn {
  border-radius: 5px;
  border: none;
  margin-left: auto;
}
.btn-a {
  background-color: #f15b22;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.8rem 2.5rem;
}

/* todo; This is main section styling rules */
main {
  max-width: 1050px;
  margin: 100px auto;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.banner-image > img {
  background-size: 527.929px;
  height: 70%;
}

.banner-text-title {
  color: #151414;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  margin-left: 5rem;
}
.banner-text-description,
.banner-text-list {
  color: #444343;
  font-size: 1.6rem;
  font-family: Work Sans;
  line-height: 2rem;
  list-style-image: url("./images/icons/cheak.png");
  list-style-position: inside;
  margin-left: 5rem;
}
.my-plan {
  text-align: center;
  color: #151414;
  font-size: 4rem;
  font-weight: 700;
  margin: 6rem 0;
}
.plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.plan-item {
  text-align: center;
}
.plan-img {
  align-content: center;
  width: 40%;
  padding: 10px auto;
}

.plan-title {
  color: #151414;
  font-size: 2.5rem;
  font-weight: 700;
  margin: auto;
}

.plan-description {
  color: #737272;
  font-size: 1.8rem;
  font-weight: 500;
}
.call-now {
  background-image: url("./images/watch.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.call-div {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  padding: 6.2rem;
}
.call-div > h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin-right: 40rem;
  margin-bottom: 3rem;
}

.call-div button,
a {
  border-radius: 5px;
  background-color: #fff;
  border: none;
  margin-right: auto;
}
.call-div a {
  color: #f15b22;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.8rem 2.5rem;
}

footer {
  display: flex;
  background: #151414;
  padding: 12rem;
  justify-content: space-between;
  gap: 200px;
}
.footer-text {
  width: 50%;
}
.footer-text img {
  margin-right: 2rem;
}
.footer-title,
.footer-subscribe-title {
  color: #f8f8f8;
  font-size: 4.5rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
}
.footer-description,
.email,
.phone {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.6rem;
  padding-bottom: 2rem;
}
.email-box {
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 2rem;
  width: 80%;
  background: #151414;
  margin-bottom: 1.6rem;
}

.sub-btn {
  color: #f15b22;
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 30%;
}
